body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #011931;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff2600; /* Highlight color */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #050000;
    border-bottom: 2px solid #011931;
    padding-bottom: 10px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin: 10px 0;
    font-size: 18px;
}

.skills-list i {
    margin-right: 10px;
    color: #011931;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #011931;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #050000;
    color: #fff;
}
